{% extends "base.html" %}
{% block title %} Последние обновления авторов, на которые вы подписаны {% endblock %}

{% block content %}
    <div class="container">
        {% include "menu.html" with index=True %}

        {% if page %}
           <h1> Последние обновления авторов, на которые вы подписаны</h1>
                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
        {% else %}
            <h1> Вы пока ни на кого не подписаны</h1>
        {% endif %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}
